<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <!-- Job Profile Column -->
    <ng-container matColumnDef="jobProfile">
      <th mat-header-cell *matHeaderCellDef> Job Profile </th>
      <td mat-cell *matCellDef="let element"> {{element.jobProfile}} </td>
    </ng-container>
  
    <!-- Technical Skill Column -->
    <ng-container matColumnDef="technicalSkill">
      <th mat-header-cell *matHeaderCellDef> Technical Skill </th>
      <td mat-cell *matCellDef="let element"> {{element.technicalSkill}} </td>
    </ng-container>
  
    <!-- Soft Skill Column -->
    <ng-container matColumnDef="softSkill">
      <th mat-header-cell *matHeaderCellDef> Soft Skill </th>
      <td mat-cell *matCellDef="let element"> {{element.softSkill}} </td>
    </ng-container>
  
    <!-- Experience Column -->
    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef> Experience </th>
      <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
    </ng-container>

    <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef> Education </th>
        <td mat-cell *matCellDef="let element"> {{element.education}} </td>
      </ng-container>
  
      <ng-container matColumnDef="jobType">
        <th mat-header-cell *matHeaderCellDef> Job Type </th>
        <td mat-cell *matCellDef="let element"> {{element.jobtype}} </td>
      </ng-container>

      <ng-container matColumnDef="jobLocation">
        <th mat-header-cell *matHeaderCellDef> Job Location </th>
        <td mat-cell *matCellDef="let element"> {{element.jobLocation}} </td>
      </ng-container> 

      <ng-container matColumnDef="action">
      
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon>
        </td>
    
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  