<mat-nav-list>
     <a routerLink="scanJD">
          <mat-list-item class="link-item">
               <h3 matLine>Scan JD</h3>
          </mat-list-item>
     </a>
     <a routerLink="scanCandidateProfile">
          <mat-list-item class="link-item">
               <h3 matLine>Scan Candidate Profile</h3>
          </mat-list-item>
     </a>
     <a routerLink="jdlisting">
          <mat-list-item class="link-item">
               <h3 matLine>JD Listing</h3>
          </mat-list-item>
     </a>
     <mat-nav-list>