
    <mat-toolbar color="primary">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center">
        <div><a class="text-white text-decoration-none" routerLink=".">Recruiter WebApp</a></div>
        <div (click)="logoutHandeler()"><a class="text-white text-decoration-none" href="#"><mat-icon>exit_to_app</mat-icon></a></div>
      </div>
    </mat-toolbar>
  
