<mat-grid-list cols="2" rowHeight="1:1" class="h-100 login-wrp">
    <mat-grid-tile class="bg-img">
        <div class="bg-mask" fxLayoutAlign="center center">
            <form [formGroup]="loginForm" (ngSubmit)="loginHandel(loginForm.value)">
                <div class="outerContainer">
                    <div fxLayout="column" fxLayoutGap="20px" class="container">
                        <div fxLayoutAlign="left">
                            <h1 className="login-title">LOGIN</h1>
                        </div>
                        <div fxLayoutAlign="left">
                            <input class="form-control" placeholder="Email" type="text"
                                name="email" formControlName="email">
                            </div>
                        <div fxLayoutAlign="left">
                            <input class="form-control" type="password" placeholder="Password"
                                name="pass" formControlName="pass">
                            </div>
                        <div fxLayoutAlign="left">
                            <p class="error-msz" *ngIf="isError"> Email or password not correct</p>
                        </div>
                        <div fxLayoutAlign="left center">                        
                            <button type="submit" class="btn btn-primary width-100">Login</button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-grid-tile>
  
</mat-grid-list>