Upload File<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">

<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Job Profile</h5>
    <div class="card-body">
        <form [formGroup]="registerForm">
            <div class="form-row">
               
                <div class="form-group col-6">
                    <label>Job Profile</label>
                    <input type="text" formControlName="profile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }" />
                    <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                        <div *ngIf="f.profile.errors.required">Job Profile is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Job Description</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Job Description is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Technical Skills</label>
                    <input type="text" formControlName="technicalskill" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.technicalskill.errors }" />
                    <div *ngIf="submitted && f.technicalskill.errors" class="invalid-feedback">
                        <div *ngIf="f.technicalskill.errors.required">Technical Skill is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Soft Skills</label>
                    <input type="text" formControlName="softskill" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.softskill.errors }" />
                    <div *ngIf="submitted && f.softskill.errors" class="invalid-feedback">
                        <div *ngIf="f.softskill.errors.required">Soft Skill is required</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label>Experience</label>
                    <input type="text" formControlName="experience" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
                    <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                        <div *ngIf="f.experience.errors.required">Experience is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Education</label>
                    <input type="text" formControlName="education" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.education.errors }" />
                    <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
                        <div *ngIf="f.education.errors.required">Education is required</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6">
                    <label>Job Type</label>
                    <input type="text" formControlName="jobtype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobtype.errors }" />
                    <div *ngIf="submitted && f.jobtype.errors" class="invalid-feedback">
                        <div *ngIf="f.jobtype.errors.required">Job Type is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Job Location</label>
                    <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Job Location is required</div>
                    </div>
                </div>
            </div>
           
            <div class="text-center">
                <button class="btn btn-primary mr-1" (click)="submitForm()">Register</button>
            </div>
        </form>
    </div>
</div>

